<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
hello
<!--<p th:text="${name}"></p>-->
<!--<p th:text="${name1}"></p>-->
<!--<div th:replace="header :: header_common"></div>-->
<!--<div th:each="car:${session.carList}">-->
<!--    <div th:text="${car}"></div>-->
<!--</div>-->

<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;!!-->
<!--<div th:object="${session.car}">-->
<!--    <p th:text="*{name}"></p>-->
<!--</div>-->
</body>
</html>